# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor configs
.vscode/
.idea/

# Pytest
.pytest_cache/
